<a href="https://colab.research.google.com/github/reesenacario/cs2022/blob/main/4110E24012.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1019 4110E240**

For Loop

Exercise 1: Print each fruit in a fruit list:

In [1]:
fruits = ["watermelon", "melon", "lemons"]
for x in fruits:
  print(x)

watermelon
melon
lemons

Exercise 2: Loop through the letters in the word "reese":

In [2]:
for x in "reese":
  print(x)

r
e
e
s
e

Exercise 3: Exit the loop when x is "taiwan":

In [6]:
country = ["canada", "taiwan", "china"]
for x in country:
  print(x) 
  if x == "taiwan":
    break

canada
taiwan

Exercise 4: Exit the loop when x is "taiwan", but this time the break comes before the print:

In [5]:
country = ["canada", "taiwan", "china"]
for x in country:
  print(x) 
  if x == "taiwan":
    break
  print(x)

canada
canada
taiwan

Exercise 5: Do not print racaza:

In [8]:
names = ["reese", "racaza", "nacario"]
for x in names:
  if x == "racaza":
    continue
  print(x)

reese
nacario

Exercise 6: Using the range() function:

In [9]:
for x in range(5):
  print(x)

0
1
2
3
4

Exercise 7: Using the start parameter:

In [11]:
for x in range(3, 7):
  print(x)

3
4
5
6

Exercise 8: Increment the sequence with 3 (default is 1):

In [12]:
for x in range(4, 45, 3):
  print(x)

4
7
10
13
16
19
22
25
28
31
34
37
40
43

Exercise 9: Print all numbers from 0 to 7, and print a message when the loop has ended:

In [13]:
for x in range(8):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
Finally finished!

Exercise 10: Break the loop when x is 5, and see what happens with the else block:for x in range(8):

In [14]:
for x in range(8):
  if x == 5: break
  print(x)
else:
  print("Finally finished!")

#If the loop breaks, the else block is not executed.

0
1
2
3
4

Exercise 11: Print each adjective for every fruit:

In [15]:
adj = ["yellow,", "fun", "fast"]
fruits = ["grapes", "kiwi", "lemon"]

for x in adj:
  for y in fruits:
    print(x, y)

yellow, grapes
yellow, kiwi
yellow, lemon
fun grapes
fun kiwi
fun lemon
fast grapes
fast kiwi
fast lemon

Exercise 12: The pass Statement for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [16]:
for x in [0, 1, 2]:
  pass